{% include "header.html" %}
    <!-- main hero section -->

    <!-- CSS CUSTOM -->


<html>

    <head>

        {% load static %}
       <link rel="stylesheet" href="{% static 'style.css'%}">
       <link rel="stylesheet" href="{% static 'style1.css'%}">
       <link rel="stylesheet" href="{% static 'style2.css'%}">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    </head>

    <body>

      <section class="section section-slided">
        <!-- Swiper -->
  <div class="swiper1 mySwiper1">
    <div class="swiper1-wrapper">
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
      <div class="swiper1-slide"><img src ="{% static 'images/pexels-pixabay-416405.jpg' %}"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  </section>



    <section class="section section-hero">
        <div class="grid grid-two-coloumn">
            <div class="section-data">
                <h1>Carrer Councling Test</h1>
                <div class="wrapper">
                    <div class="static-text">We Are Providing </div>
                    <ul class="dynamic-text">
                        <li><span>Apptitude Test</span></li>
                        <li><span>E-Books</span></li>
                        <li><span>Blogging</span></li>
                        <li><span>Prediction Test</span></li>
                    </ul>
                </div>
                <p> a web developer have 1+ year experence in web develpoment desig web site gform sctrsvj </p>
                <div class="button">
                    <button><a href="/test" class="btn">Start Now</a></button>
                    <!-- <a href="/test" class="btn">Button</a> -->
                </div>
            </div>
            <div class="section-img">
                {% comment %} <img src="images/pexels-amin-imanifar-865773.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-amin-imanifar-865773.jpg' %}">

            </div>
        </div>
    </section>

    <!-- biodata section code -->
    <section class="section section-biodata">
        <div class="container grid grid-two-coloumn">
            <div class="bio-img">
                {% comment %} <img src="images/pexels-andrea-davis-3653849.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-andrea-davis-3653849.jpg' %}">
            </div>
            <div class="bio-data">
                <div class="container">
                    <h2 class="common-heading">Quiz</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus magnam quae aliquid vel quasi laborum voluptatem id minima quis nobis nostrum, veniam qui unde eum enim, excepturi alias nihil voluptates.</p> <br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi delectus labore voluptate asperiores hic illum ut temporibus quae quibusdam, nulla eligendi eiu</p>
                </div>
                <div class="bio-data-stats">
                    <div class="bio-stats">
                        <h3>HTML</h3>
                        <div class="data-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-stats">
                        <h3>Design</h3>
                        <div class="data-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-stats">
                        <h3>Javascript</h3>
                        <div class="data-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-stats">
                        <h3>MongoDB</h3>
                        <div class="data-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-stats">
                        <h3>CSS</h3>
                        <div class="data-progress-bar">
                            <span>80%</span>
                        </div>
                    </div>

                    <div class="bio-data-btn">
                        <a href="/quiz" class="btn">Downoload CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio section -->

    <section class="section section-portflio">
        <div class="container">
            <h2 class="common-heading">Latest work</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt similique molestiae earum iure aperiam, impedit necessitatibus corrupti dolorem, autem obcaecati quaerat eveniet explicabo, ullam assumenda alias cupiditate soluta sequi accusantium.
            </p>
        </div>
        <div class="p-btns">
            <div class="btn p-btn" data-btn-num="1">Students Experience</div>
            <div class="btn p-btn" data-btn-num="1">Collage Prediction</div>
            <div class="btn p-btn" data-btn-num="1">industry Experts</div>
        </div>
        <div class="container grid grid-three-coloumn">
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-pixabay-416405.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-pixabay-416405.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Blog-1</a>
                </div>
            </div>
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-fauxels-3183197.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-fauxels-3183197.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Blog-2</a>
                </div>
            </div>
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-fauxels-3183153.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-fauxels-3183153.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Blog-3</a>
                </div>
            </div>
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-fauxels-3183153.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-fauxels-3183153.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Blog-4</a>
                </div>
            </div>
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-fauxels-3183153.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-fauxels-3183153.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Blog-5</a>
                </div>
            </div>
            <div class="img-overlay p-btn--1">
                {% comment %} <img src="images/pexels-pixabay-416405.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-pixabay-416405.jpg' %}">
                <div class="overlay">
                    <a href="#" class="common-heading">Project-6</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section marks prediction sections -->

    <section class="section section-prediction">
        <div class="container">
            <h2 class="common-heading">Prediction Test</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt similique molestiae earum iure aperiam, impedit necessitatibus corrupti dolorem, autem obcaecati quaerat eveniet explicabo, ullam assumenda alias cupiditate soluta sequi accusantium.
            </p>
        </div>
        <div class="container grid grid-two-coloumn prediction">
            <div class="prediction-info">
                <h1>College Admission Predictors</h1>
                <p>Know your College Admission chances at the career path level based on Psychometric, Abilities and Academic analysis</p>
                <p>180000 + Top colleges and 1000+ exams analysis for each candidate. Set your career milestones.</p>

                <button><a href="/homepage" class="btn">Start Now</a></button>
            </div>
            <div class="prediction-img">
                {% comment %} <img src="images/pexels-pixabay-416405.jpg" alt=""> {% endcomment %}
                <img src ="{% static 'images/pexels-pixabay-416405.jpg' %}">
            </div>
        </div>
    </section>

    <!-- section of ebooks -->

    <section class="section section-ebook">
        <div class="container">
            <h2 class="common-heading">Career Library</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt similique molestiae earum iure aperiam, impedit necessitatibus corrupti dolorem, autem obcaecati quaerat eveniet explicabo, ullam assumenda alias cupiditate soluta sequi accusantium.
            </p>
        </div>

        <div class="container grid grid-two-coloumn e-book">
            <div class="ebook-img">
                {% comment %} <img src="images\pexels-perfecto-capucine-1475272.jpg" alt="ebookimage"> {% endcomment %}
                <img src ="{% static 'images/pexels-perfecto-capucine-1475272.jpg' %}">
            </div>
            <div class="ebook-info">
                <h1>Carrer Related Books</h1>
                <ol>
                    <li>5 Dimensional Career Assessment Platform</li>
                    <li>AI for higher Accuracy and reliability</li>
                    <li>Find out the most suitable career Books and get an execution plan in just 45 Minutes.</li>
                    <li>Career Analysis across 150+ Career Paths and 3000+ Occupations</li>
                    <li>32 + Dedicated Assessments and Books starting from 8th Class Students to Graduates and Professionals.</li>
                </ol>
                <button><a href="/Ebooks.ejs" class="btn">Carrer Libary</a></button>
            </div>
        </div>

    </section>
    <!-- section body data -->

    <section class="section section-body-data">
        <div class="container grid grid-four-coloumn">
            <div>
                <h2 class="counter-numbers" data-number="2000">+0</h2>
                <p>Compleated Projects</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="6000">+0</h2>
                <p>Happy Client</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="1000">+0</h2>
                <p>Pachied up with</p>
            </div>
            <div>
                <h2 class="counter-numbers" data-number="4000">+0</h2>
                <p>pending Projects</p>
            </div>
        </div>
    </section>

    <!-- services section area -->
    <section class="section section-services">
        <div class="container">
            <h2 class="common-heading">Services Section</h2>
            <p>A swevices which we are providing</p>
        </div>
        <div class="container grid grid-three-coloumn">
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="bar-chart-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="logo-javascript"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="terminal-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="server-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="save-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <ion-icon name="podium-outline"></ion-icon>
                </div>
                <h2>Web desinging</h2>
                <p>A web ui/ux experiecnce</p>
            </div>
        </div>
    </section>



    <!-- freelancing section   -->
    <section class="section freelancing-section" style=" background-image: url(images/careerprofessional.jpg)">
        <div class="overlay"></div>
        <div class="container-freelancing">
            <h2>I am Available for <span>Freelancing</span></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti architecto debitis suscipit nemo dignissimos enim animi unde assumenda fugit laboriosam excepturi at hic voluptates autem, sit aliquid ipsa nisi modi.</p>
            <a href="#" class="btn">Submit</a>
        </div>
    </section>


    <!-- Swiper section animation -->

<section class="section section-swiper">
  <div class="container">
    <h2 class="common-heading">Swipper Section</h2>
    <p>Swiper Section tells about the testimonial sections Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  </div>
    <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/8th9th.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
       </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/8th9th.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/10th12th.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/school2.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/collage2.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/careerprofessional.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/Ebook.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>
        </div>
      <div class="swiper-slide">
        <div class="swiper-client-msg">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="swiper-client-data grid grid-two-coloumn">
          <figure>
            <img src="{% static 'images/learningstyle.jpg' %}" alt="">
          </figure>
          <div class="client-data-details">
            <p>Arpit Kalra</p>
            <p>Enterpenure</p>
          </div>
        </div>

        </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  </section>

    <!-- contact section  -->

    <section class="section section-contact">
        <div class="container">
            <h2 class="common-heading">Contact Me</h2>
        </div>
        <div class="contact-container">
            <form action="/">
                <div class="grid grid-two-coloumn">
                    <div>
                        <label for="username"></label>
                        <input type="text " id="username" placeholder="Username" required>
                    </div>
                    <div>
                        <label for="email"></label>
                        <input type="email" id="email" placeholder="Email" required>
                    </div>
                </div>
                <div>
                    <label for="subject"></label>
                    <input type="text" id="Subject" placeholder="Subject" required>
                </div>
                <div>
                    <label for="textarea"></label>
                    <textarea name="textarea" id="" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn">
                </div>
            </form>
        </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
     var swiper = new Swiper(".mySwiper", {
       slidesPerView: 3,
       spaceBetween: 30,
       autoplay:{
         delay:2500,
         disableOnInteraction:false
       }
       pagination: {
         el: ".swiper-pagination",
         clickable: true,
       },
     });

     var swiper = new Swiper1(".mySwiper1", {
       pagination: {
         el: ".swiper-pagination",
         type: "progressbar",
       },
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
   </script>

</body>


</html>


{% include "footer.html" %}
